html {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

#viewerDiv {
    margin : auto auto;
    width: 100%;
    height: 100%;
    padding: 0;
}

#viewerDiv > canvas {
    display: block;
}

#menuDiv {
    position: absolute;
    top:0px;
    margin-left: 0px;
}

#map {  padding: 0; position:absolute; top:0; bottom:0; width: 2048px; height: 1024px; right: 0; z-index : -1;}

@media (max-width: 600px) {
    #menuDiv {
        display: none;
    }
}

.help {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    color: #eee;
    font: 11px 'Lucida Grande',sans-serif;
    line-height: normal;
    text-shadow: 0 -1px 0 #111;
    padding: 0 1rem;
    background: #1a1a1a;
    border: 1px solid #2c2c2c;
    opacity: 0.8;
}

.help > p {
    margin: 0.5rem 0;
}

.help > ul {
    padding: 0 1rem;
}

@media (max-width: 600px) {
    .help {
        display: none;
    }
}

.divScaleWidget {
    border: 2px solid black;
    border-top: none;
    text-align: center;
    display: block;
    background-image: linear-gradient(rgba(200, 200, 200, 0.3), rgba(200, 200, 200, 0.3));
    margin-bottom: 20px;
    margin-right: 20px;
    position: absolute;
    width:200px;
    height:18px;
    color: black;
    font-family: 'Open Sans',
    sans-serif;
    font-size: 16px;
    right: 0;
    bottom: 0;
}

.circleBase {
    display: none;
    border-radius: 50%;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px;
    position: absolute;
    z-index: 1000;
    font-family: 'Open Sans',
    sans-serif;
    font-size: 20px;
    line-height: 0px;
    text-align: center;
    pointer-events: none;
    width: 10px;
    height: 10px;
    background: rgba(160, 160, 160, .4);
    border: 2px solid #775555;
    vertical-align: middle;
}

#menuStyle {
    position: absolute;
    background: #444;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    bottom: 0px;
    right: 0px;
    z-index : 1;
}


.map-overlay {
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
position: absolute;
width: 200px;
bottom: 0;
left: 0;
padding: 10px;
z-index : 1;

}
 
.map-overlay .map-overlay-inner {
background-color: #fff;
box-shadow:0 1px 2px rgba(0, 0, 0, 0.10);
border-radius: 3px;
padding: 10px;
margin-bottom: 10px;
}
 
.map-overlay-inner fieldset {
border: none;
padding: 0;
margin: 0 0 10px;
}
 
.map-overlay-inner fieldset:last-child {
margin: 0;
}
 
.map-overlay-inner select {
width: 100%;
}
 
.map-overlay-inner label {
display: block;
font-weight: bold;
margin: 0 0 5px;
}
 
.map-overlay-inner button {
display: inline-block;
width: 36px;
height: 20px;
border: none;
cursor: pointer;
}
 
.map-overlay-inner button:focus {
outline: none;
}
 
.map-overlay-inner button:hover {
    box-shadow:inset 0 0 0 3px rgba(0, 0, 0, 0.10);
}

.label{
    overflow: hidden;
    color: #fff;
    font-family: sans-serif;
    padding: 5px;
    font-size: 18px;
    background: rgba( 0, 0, 0, 0.0 );
    /* text-shadow: 1.5px 0 0 #0003, -1.5px 0 0 #0003, 0 1.5px 0 #0003, 0 -1.5px 0 #0003, 1.5px 1.5px #0003, -1.5px -1.5px 0 #0003, 1.5px -1.5px 0 #0003, -1.5px 1.5px 0 #0003; */
}

.trans {
    transform: translate(0%, -50%); /* décalage de 50% de sa propre taille */
}

.vl {
    background: linear-gradient(to right, 
	                              transparent 0%, 
	                              transparent calc(50% - 0.8px), 
	                              #fff calc(50% - 0.8px), 
	                              #fff calc(50% + 0.8px), 
	                              transparent calc(50% + 0.8px), 
	                              transparent 100%); 
    height: 80px;
}

.space {
    background:  rgba( 0, 0, 0, 1.0 );
    height: 290px;
}
